version: 2

updates:
  - package-ecosystem: cargo
    directory: "/"
    commit-message:
      prefix: "build(deps)"
    labels:
      - dependencies
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
  - package-ecosystem: github-actions
    directory: "/"
    commit-message:
      prefix: "ci(deps)"
    labels:
      - dependencies
    schedule:
      interval: monthly
      open-pull-requests-limit: 10
